body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.cardsDashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vh;
    padding: 3vh;
}

main{
    flex:1;
    background-color: #F6F6F2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

}

h2{
    text-align: center;
}

.custom-navbar {
    background-color: #C4EEF2;

}

h2{
    padding: 1vh;
}

.accordion{
    padding: 3vh;
}

footer{
    background-color: #C4EEF2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vh;
    padding: 3vh;
}

.cardProgress{
    display: flex;
    justify-content: center;
    padding: 0.5vh;
}

.accordionSkills{
    background-color: transparent; 
    color: inherit;
    border: none; 
}

footer img{
    width: 6vh;
}
.container-fluid img{
    width: 15vh;
    padding: 2vh;
}

.filterContainer{
    display: flex;
    justify-content: space-around;

}
.filterItems{
    display: flex;
    justify-content: space-around;
    padding: 2vh;
    width: 90vh;
}

.filterItems a{
    text-decoration: none;
    color: red;
}

.cardButtons{
    display: flex;
    justify-content: space-between;
}
.cardItem{
    padding: 0.5vh;
}
.cardItem label{
    padding: 0.5vh;
}

#showCard{
    width: 80vh; 
    line-height: 1.1;
}
.accordion{
    min-width: 85vh;
}
.form-select{
    width: 32vh;
}
@media (max-width: 480px) {

    .filterItems{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2vh;
        width: 40vh;
        gap: 2vh;
    }
    #showCard{
        max-width: 40vh; 
        line-height: 1.1;
    }
    .accordion{
        max-width: 60vh;
    }
    .form-select{
        width: 30vh;
    }
    .cardsDashboard{
        width: 100%;
    }

}
@media (max-width: 820px) {

    .filterItems{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2vh;
        width: 40vh;
        gap: 2vh;
    }
    #showCard{
        width: 50vh; 
        line-height: 1.1;
    }
    .accordion{
        min-width: 50vh;
    }
}